.cards {
  @include reset;
  display: flex;
  flex-direction: row;
  margin: 0 160px 110px;
  overflow: hidden;
  @media screen and (max-width: 1279px) {
    & {
      margin: 0 80px 110px;
    }
  }
  @media screen and (max-width: 899px) {
    & {
      margin: 0 50px 50px;
    }
  }
  @media screen and (max-width: 599px) {
    & {
      flex-direction: column;
      margin: 0 20px 30px;
    }
  }
  &__dots {
    @include reset;
    cursor: pointer;
    height: 8px;
    width: 44px;
    display: none;
    align-self: center;
    margin: 30px 0 40px;
    @media screen and (max-width: 599px) {
      & {
        display: flex;
      }
    }
  }
}