.page {
  @include reset;
  display: flex;
  max-width: 1440px;
  @media screen and (max-width: 1279px) {
    & {
      max-width: 1279px;
    }
  }
  @media screen and (max-width: 899px) {
    & {
      max-width: 899px;
    }
  }
  @media screen and (max-width: 599px) {
    & {
      max-width: 599px;
    }
  }
}
