.popup {
  display: none;
  max-width: 1440px;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  &__pic {
    width: 38px;
    height: 54px;
    margin-top: 120px;
    @media screen and (max-width: 899px) {
      & {
        margin-top: 200px;
      }
    }
    @media screen and (max-width: 599px) {
      & {
        width: 26px;
        height: 36px;
      }
    }
  }
  &__position {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    @include reset;
    display: flex;
    @include font-size(34px, 30.6px, 0);
    @include font-semi-bold;
    justify-content: center;
    margin-top: 50px;
    @media screen and (max-width: 599px) {
      & {
        @include font-size(30px, 27px, 0);
        margin-top: 40px;
      }
    }
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    width: 500px;
    margin: 78px auto auto;
    @media screen and (max-width: 599px) {
      & {
        width: 280px;
        margin: 40px auto auto;
      }
    }
  }
  &__item {
    border: 0;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: #1A1A1A;
    border-radius: 8px;
    @include font-base;
    @include font-size(15px, 18px, 0);
    padding-left: 28px;
    &:last-of-type {
      margin-top: 20px;
    }
    &:focus {
      cursor: pointer;
      outline-style: none;
    }
    &:hover {
      cursor: pointer;
      outline-style: none;
      opacity: 0.6;
      transition: 0.3s linear;
    }
    @media screen and (max-width: 599px) {
      & {
        height: 40px;
        padding-left: 18px;
        @include font-size(12px, 18px, 0);
        &:last-of-type {
          margin-top: 10px;
        }
      }
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: $color-checkout;
    @include size(218px, 48px, 8px);
    @include font-size(15px, 18px, 1px);
    @include font-semi-bold;
    margin-top: 253px;
    margin-bottom: 120px;

    &:hover {
      cursor: pointer;
      background-color: $color-checkout-active;
      transition: 0.3s;
    }
    @media screen and (max-width: 899px) {
      & {
        margin-top: 243px;
        margin-bottom: 200px;
        @include size(184px, 44px, 8px);
        @include font-size(13px, 18px, 1px);
      }
    }
    @media screen and (max-width: 599px) {
      & {
        margin-top: 143px;
        margin-bottom: 120px;
        @include size(140px, 30px, 8px);
        @include font-size(10px, 18px, 1px);
        @include font-size(10px, 18px, 1px);
      }
    }
  }
}