@import "../vendors/normalize.css";
@import "../fonts/fonts.css";
.main {
  margin: 0;
  padding: 0;
  background-color: #000;
  max-width: 1440px;
  margin: auto;
  font-family: "NotoSans", Arial, sans-serif;
}

.header {
  max-width: 1440px;
  display: flex;
  background-color: #000;
}
.header__logo {
  display: flex;
  justify-self: center;
  width: 38px;
  background-position: center;
  background-size: cover;
  margin: 26px auto 60px 160px;
}
@media screen and (max-width: 1279px) {
  .header__logo {
    margin: 26px auto 60px 80px;
  }
}
@media screen and (max-width: 899px) {
  .header__logo {
    margin: 26px auto 60px 50px;
  }
}
@media screen and (max-width: 599px) {
  .header__logo {
    margin: 16px auto 37px 20px;
    width: 26px;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 160px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1279px) {
  .header__nav {
    margin-right: 80px;
  }
}
@media screen and (max-width: 899px) {
  .header__nav {
    margin-right: 50px;
  }
}
@media screen and (max-width: 599px) {
  .header__nav {
    margin-right: 20px;
  }
}
.header__link {
  display: flex;
  justify-self: flex-start;
  text-decoration: none;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 1px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.header__link:hover {
  opacity: 0.5;
  transition: 0.3s;
}
@media screen and (max-width: 899px) {
  .header__link {
    font-size: 13px;
    line-height: 16.25px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 599px) {
  .header__link {
    display: none;
  }
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #009465;
  margin-left: 50px;
  width: 218px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.header__button:hover {
  cursor: pointer;
  background-color: #066C4C;
  transition: 0.3s;
}
@media screen and (max-width: 899px) {
  .header__button {
    width: 184px;
    height: 44px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 599px) {
  .header__button {
    width: 140px;
    height: 30px;
    border-radius: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

.intro {
  max-width: 1440px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  overflow: hidden;
}
.intro__description {
  position: relative;
  margin-left: 160px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .intro__description {
    margin-left: 100px;
  }
}
@media screen and (max-width: 899px) {
  .intro__description {
    margin-left: 50px;
  }
}
@media screen and (max-width: 599px) {
  .intro__description {
    margin-left: 20px;
  }
}
.intro__club {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 14.4px;
  text-transform: uppercase;
  margin-bottom: 70px;
  background-color: #5036E6;
  width: 84px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media screen and (max-width: 599px) {
  .intro__club {
    font-size: 12px;
    line-height: 10.8px;
    width: 63px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 65px;
  }
}
.intro__header {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  max-width: 500px;
  font-size: 70px;
  line-height: 63px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 599px) {
  .intro__header {
    width: 280px;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 17px;
  }
}
.intro__text {
  margin: 0;
  padding: 0;
  margin-bottom: 182px;
  max-width: 500px;
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 899px) {
  .intro__text {
    margin-bottom: 212px;
  }
}
@media screen and (max-width: 599px) {
  .intro__text {
    margin-bottom: 110px;
    width: 280px;
    font-size: 12px;
    line-height: 15.5px;
  }
}
.intro__pic {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../images/chess_board.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 416px;
  height: 104px;
  margin-bottom: 80px;
  z-index: 1;
}
@media screen and (max-width: 899px) {
  .intro__pic {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 599px) {
  .intro__pic {
    width: 280px;
    height: 70px;
    margin-bottom: 23px;
  }
}
.intro__picture {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: auto;
  background-image: url("../images/main_picture_desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 480px;
  height: 640px;
  z-index: 0;
}
@media screen and (max-width: 899px) {
  .intro__picture {
    width: 130px;
    height: 520px;
    background-image: url("../images/main_picture_tablet.png");
    background-position: bottom;
    bottom: 50px;
  }
}
@media screen and (max-width: 599px) {
  .intro__picture {
    bottom: auto;
    right: 20px;
    background-image: url("../images/main_picture_mobile.png");
    background-position: top;
  }
}

.team {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #5036E6;
}
.team__header {
  font-size: 70px;
  line-height: 63px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 80px 160px 40px;
}
@media screen and (max-width: 1279px) {
  .team__header {
    margin: 80px 80px 40px;
  }
}
@media screen and (max-width: 899px) {
  .team__header {
    margin: 50px 50px 40px;
  }
}
@media screen and (max-width: 599px) {
  .team__header {
    margin: 20px 20px 20px;
    font-size: 40px;
    line-height: 36px;
    width: 280px;
  }
}
.team__text {
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 500px;
  margin: 0 160px 110px;
}
@media screen and (max-width: 1279px) {
  .team__text {
    margin: 0 80px 110px;
  }
}
@media screen and (max-width: 899px) {
  .team__text {
    margin: 0 50px 140px;
  }
}
@media screen and (max-width: 599px) {
  .team__text {
    margin: 0 20px 60px;
    font-size: 12px;
    line-height: 15.6px;
    width: 280px;
  }
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0 160px 110px;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .cards {
    margin: 0 80px 110px;
  }
}
@media screen and (max-width: 899px) {
  .cards {
    margin: 0 50px 50px;
  }
}
@media screen and (max-width: 599px) {
  .cards {
    flex-direction: column;
    margin: 0 20px 4px;
  }
}
.cards__dots {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 8px;
  width: 44px;
  display: none;
  align-self: center;
  margin: 30px 0 40px;
}
@media screen and (max-width: 599px) {
  .cards__dots {
    display: flex;
  }
}

.card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
@media screen and (max-width: 1279px) {
  .card {
    margin-right: 50px;
  }
}
@media screen and (max-width: 899px) {
  .card {
    margin-right: 28px;
  }
}
@media screen and (max-width: 599px) {
  .card {
    margin-right: 20px;
    display: none;
  }
  .card:first-child {
    display: flex;
  }
}
.card__photo {
  margin: 0;
  padding: 0;
  display: flex;
  background-size: contain;
  width: 320px;
  background-position: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 599px) {
  .card__photo {
    width: 280px;
    margin: 0 auto 22px;
  }
}
.card__name {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 5.5px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 599px) {
  .card__name {
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 5.5px;
    justify-content: center;
    margin-bottom: 5px;
  }
}
.card__text {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 599px) {
  .card__text {
    font-size: 12px;
    line-height: 15.6px;
    justify-content: center;
  }
}

.join-team {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #5036E6;
}
@media screen and (max-width: 599px) {
  .join-team {
    display: flex;
    flex-direction: column-reverse;
  }
}
.join-team__pic {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  background-size: contain;
  background-image: url("../images/mid_picture_desktop.png");
  background-repeat: no-repeat;
  height: 440px;
  width: 660px;
  background-position: center;
  margin: 60px 0 60px;
  overflow: hidden;
}
@media screen and (max-width: 899px) {
  .join-team__pic {
    background-image: url("../images/mid_picture_tablet.png");
    height: 360px;
    width: 180px;
  }
}
@media screen and (max-width: 599px) {
  .join-team__pic {
    background-image: url("../images/mid_picture_mobile.png");
    height: 140px;
    width: 280px;
    margin: auto;
    padding: 0;
  }
}
.join-team__description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1279px) {
  .join-team__description {
    margin-left: 80px;
  }
}
@media screen and (max-width: 899px) {
  .join-team__description {
    margin-left: 60px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 599px) {
  .join-team__description {
    margin-top: 20px;
    margin-left: 20px;
  }
}
.join-team__header {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 70px;
  line-height: 63px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 520px;
  margin-bottom: 40px;
}
@media screen and (max-width: 899px) {
  .join-team__header {
    max-width: 478px;
  }
}
@media screen and (max-width: 599px) {
  .join-team__header {
    max-width: 280px;
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 17px;
  }
}
.join-team__text {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 520px;
}
@media screen and (max-width: 899px) {
  .join-team__text {
    max-width: 478px;
  }
}
@media screen and (max-width: 599px) {
  .join-team__text {
    margin-bottom: 60px;
    max-width: 280px;
    font-size: 12px;
    line-height: 15.6px;
  }
}

.battle {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.battle__header {
  margin: 0;
  padding: 0;
  font-size: 70px;
  line-height: 63px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 60px 0 40px 160px;
}
@media screen and (max-width: 1279px) {
  .battle__header {
    margin: 65px 0 40px 80px;
  }
}
@media screen and (max-width: 899px) {
  .battle__header {
    margin: 40px 0 40px 50px;
  }
}
@media screen and (max-width: 599px) {
  .battle__header {
    font-size: 40px;
    line-height: 36px;
    margin: 20px 0 20px 20px;
  }
}
.battle__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 110px 160px;
  width: 500px;
}
@media screen and (max-width: 1279px) {
  .battle__text {
    margin: 0 0 120px 80px;
  }
}
@media screen and (max-width: 899px) {
  .battle__text {
    margin: 0 0 140px 50px;
  }
}
@media screen and (max-width: 599px) {
  .battle__text {
    font-size: 12px;
    line-height: 15.6px;
    margin: 0 0 5px 20px;
    width: 280px;
  }
}
.battle__pics {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0 0 74px 160px;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .battle__pics {
    margin: 0 0 74px 80px;
  }
}
@media screen and (max-width: 899px) {
  .battle__pics {
    margin: 0 0 104px 50px;
  }
}
@media screen and (max-width: 599px) {
  .battle__pics {
    flex-direction: column;
    margin: 60px 0 0 22px;
  }
}
.battle__element {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 80px;
}
.battle__element:first-child {
  margin-left: 0;
}
@media screen and (max-width: 1279px) {
  .battle__element {
    margin-left: 40px;
  }
}
@media screen and (max-width: 899px) {
  .battle__element {
    margin-left: 28px;
  }
}
@media screen and (max-width: 599px) {
  .battle__element {
    margin-left: 0;
    display: none;
  }
  .battle__element:first-child {
    display: flex;
  }
}
.battle__pic {
  margin: 0;
  padding: 0;
  width: 320px;
}
@media screen and (max-width: 599px) {
  .battle__pic {
    width: 280px;
    margin: auto;
  }
}
.battle__pics-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 160px 0 100px;
}
@media screen and (max-width: 1279px) {
  .battle__pics-bottom {
    margin: 0 80px 0 60px;
  }
}
@media screen and (max-width: 899px) {
  .battle__pics-bottom {
    margin: 0 50px 0 0;
  }
}
@media screen and (max-width: 599px) {
  .battle__pics-bottom {
    margin: 0 20px 20px 20px;
  }
}
.battle__pic-semicircle {
  margin: 0;
  padding: 0;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bottom_picture_desktop.png");
  width: 440px;
  height: 220px;
}
@media screen and (max-width: 899px) {
  .battle__pic-semicircle {
    background-image: url("../images/bottom_picture_tablet.png");
    padding: 0;
    margin: 0;
    width: 220px;
  }
}
@media screen and (max-width: 599px) {
  .battle__pic-semicircle {
    display: none;
  }
}
.battle__pic-board {
  margin: 0;
  padding: 0;
  width: 416px;
  height: 104px;
  margin-bottom: 80px;
  box-sizing: border-box;
  background-image: url("../images/chess_board_green.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
@media screen and (max-width: 899px) {
  .battle__pic-board {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 599px) {
  .battle__pic-board {
    margin: 0 auto;
    width: 280px;
    height: 70px;
  }
}
.battle__dots {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 8px;
  width: 44px;
  display: none;
  align-self: center;
  margin: 30px 0 60px;
}
@media screen and (max-width: 599px) {
  .battle__dots {
    display: flex;
  }
}

.footer {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: #5036E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  margin-top: 80px;
}
@media screen and (max-width: 599px) {
  .footer__logo {
    margin-top: 40px;
  }
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #009465;
  margin-top: 60px;
  width: 218px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 599px) {
  .footer__button {
    width: 140px;
    height: 30px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
.footer__button:hover {
  cursor: pointer;
  background-color: #066C4C;
  transition: 0.3s;
}
.footer__text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 60px;
}
@media screen and (max-width: 599px) {
  .footer__text {
    font-size: 12px;
    line-height: 15.6px;
    margin-top: 40px;
  }
}
.footer__copyrights {
  margin: 0;
  padding: 0;
  font-size: 15.1px;
  line-height: 20px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #8E9199;
  margin: 20px 0 80px;
}
@media screen and (max-width: 599px) {
  .footer__copyrights {
    font-size: 12px;
    line-height: 12px;
    margin: 10px 0 40px;
  }
}

.popup {
  display: none;
  max-width: 1440px;
  justify-content: center;
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.popup__pic {
  width: 38px;
  height: 54px;
  margin-top: 120px;
}
@media screen and (max-width: 899px) {
  .popup__pic {
    margin-top: 200px;
  }
}
@media screen and (max-width: 599px) {
  .popup__pic {
    width: 26px;
    height: 36px;
  }
}
.popup__position {
  display: flex;
  flex-direction: column;
}
.popup__heading {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 34px;
  line-height: 30.6px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 599px) {
  .popup__heading {
    font-size: 30px;
    line-height: 27px;
    margin-top: 40px;
  }
}
.popup__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  width: 500px;
  margin: 78px auto auto;
}
@media screen and (max-width: 599px) {
  .popup__inputs {
    width: 280px;
    margin: 40px auto auto;
  }
}
.popup__item {
  border: 0;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background-color: #1A1A1A;
  border-radius: 8px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 18px;
  padding-left: 28px;
}
.popup__item:last-of-type {
  margin-top: 20px;
}
.popup__item:focus {
  cursor: pointer;
  outline-style: none;
}
.popup__item:hover {
  cursor: pointer;
  outline-style: none;
  opacity: 0.6;
  transition: 0.3s linear;
}
@media screen and (max-width: 599px) {
  .popup__item {
    height: 40px;
    padding-left: 18px;
    font-size: 12px;
    line-height: 18px;
  }
  .popup__item:last-of-type {
    margin-top: 10px;
  }
}
.popup__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #009465;
  width: 218px;
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  font-family: "NotoSans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 253px;
  margin-bottom: 120px;
}
.popup__button:hover {
  cursor: pointer;
  background-color: #066C4C;
  transition: 0.3s;
}
@media screen and (max-width: 899px) {
  .popup__button {
    margin-top: 243px;
    margin-bottom: 200px;
    width: 184px;
    height: 44px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 599px) {
  .popup__button {
    margin-top: 143px;
    margin-bottom: 120px;
    width: 140px;
    height: 30px;
    border-radius: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}

/*# sourceMappingURL=index.css.map */
